body {
    background-color: gainsboro;
}

header {
    font-weight: 200;
    font-size: 2em;
    text-align: center;
}

h2 {
    text-align: center;
}
.parkSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid silver;
    border-radius: 16px;
    margin: 10px;
}
.restaurantSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid silver;
    border-radius: 16px;
    margin: 10px;
}
.meetupSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid silver;
    border-radius: 16px;
    margin: 10px;
}
.concertSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid silver;
    border-radius: 16px;
    margin: 10px;
}


/* document.querySelector(".YOURSection").classList.toggle("addClass") */


/* .addClass {
    text-align: center;
    border: 1px solid silver;
    border-radius: 16px;
    margin: 10px;
} */

#inputSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#itinerary {
    display: flex;
    flex-direction: column;
}