body {
    background-color: gainsboro;
}

header {
    font-weight: 200;
    font-size: 2em;
}

#inputSection {
    display: flex;
    flex-direction: column;
}

#displayResultsSection {
    display: flex;
    border: 1px solid black;
}